if SHIELD_PROTO1_LEFT

config ZMK_KEYBOARD_NAME
    default "Proto1"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_PROTO1_LEFT || SHIELD_PROTO1_RIGHT

config ZMK_SPLIT
    default y

endif